*{
    margin: 0;
    padding: 0;
}
body{
   /* background: #252839; */
}
.container{
    margin-top: 10%;
}
img{
    mix-blend-mode: multiply;
}

h1{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14vw;
    /* color: black; */
    -webkit-text-stroke: 0.3vw #5e616d;
    text-transform: uppercase;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    color: yellow;
    -webkit-text-stroke: 0vw #575d74;
    overflow: hidden;
    animation: animate 3s linear infinite;
}
@keyframes animate{
    0%,10% , 100%{
       width: 0; 
    }
    70%,90%{
width: 100%;
    }
}
